
body{
    background-color:#F8F9F9;
    text-align: center;
    padding: 20px;
    }


   img {
    background-attachment:scroll;
    flex-wrap: wrap;
   }
  
h1 {
  color: greenyellow;
    position: absolute;
    left: 400px;
    top: 125px;
}

h2 {
  color: greenyellow;
  font-size: 25px;
  position: absolute;
    left: 525px;
    top: 250px;
  }

.label-icon {
    justify-content: right;
}

#search{
    text-align: center;
}

p {
    text-align: center;
}

nav {
    text-align: center;
    background-color: #0b2737;
}

a {
  background-color: #f56217;
}

  .weather-data {
    width: max-content;
  }

  .weather-title{
    margin-top: 90px;
  }

  #main-data{
    width: max-content;
    justify-content: center;
  }

  h3 {
    color: #f56217;
  }

  .card-title {
    text-align: center;
  }

  @media (max-width:1280px) and (min-width:1024px) {
  h1, h2 {
    font-size: 3rem;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  h1, h2{
    font-size: 2rem;
    flex-wrap: wrap;
    text-size-adjust: 1.5rem;
  }
}

@media (max-width:787px) and (min-width:480px) {
  h1,h2 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width:1280px) and (min-width:1024px) {
  body, nav {
    font-size: 3rem;
    flex-wrap: wrap;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  body, nav {
    font-size: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width:787px) and (min-width:480px) {
  body, nav {
    font-size: 1.5rem;
    flex-wrap: wrap;
  
  }
}
@media (max-width:1280px) and (min-width:1024px) {
  img, body {
  font-size: 3rem;
    flex-wrap: wrap;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  img, body {
    font-size: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width:787px) and (min-width:480px) {
  img, body {
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}
