header {
    text-align: center;
    
    background: lightcoral;
    padding: 15px;
}
.label-icon {
    justify-content: right;
}
#search{
    text-align: center;
}
p {
    text-align: center;
}

nav {
    text-align: center;
}


  .weather-data {
    width: max-content;
  }

  .weather-title{
    margin-top: 90px;
  }

  #main-data{
    width: max-content;
    justify-content: center;
  }
