.style {
    text-align: center;
    font: revert;
    background: lightcoral;
    padding: 15px;
}
.label-icon {
    justify-content: right;
}
#search{
    text-align: center;
}
p {
    text-align: center;
}

nav {
    text-align: center;
}