body{
    text-align: center;
    padding: 20px;
}
   img {
    background-attachment: fixed;
   }
    /* background:linear-gradient(to top, #0b486b, #f56217); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+; */

h1 {
  color: greenyellow;
    position: absolute;
    left: 400px;
    top: 125px;
  }

p {
  color: greenyellow;
  font-size: 25px;
  position: absolute;
    left: 525px;
    top: 225px;
}

.label-icon {
    justify-content: right;
}
#search{
    text-align: center;
}
p {
    text-align: center;
}

nav {
    text-align: center;
    background-color: #0b2737;
}
a {
  background-color: #f56217;
}


  .weather-data {
    width: max-content;
  }

  .weather-title{
    margin-top: 90px;
  }

  #main-data{
    width: max-content;
    justify-content: center;
  }
