
body{
    background-color:#F8F9F9;
    text-align: center;
    padding: 20px;
    height: 100%;
  margin: 0;
  padding: 0;
    }
    
    header{

    }
    span {
      font-size: large;
      color: black;
    }

img {
  background-attachment: fixed;
}
#Data {
  width: max-content;
  justify-content: center; 
}

/* background:linear-gradient(to top, #0b486b, #f56217); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+; */


   img {
    background-attachment:scroll;
    flex-wrap: wrap;
   }
  
h1 {
  color: greenyellow;
    position: absolute;
    left: 400px;
    top: 125px;
  position: absolute;
  left: 443px;
  top: 125px;
  text-align: center;
  justify-content: center;
}

h2 {
  color: greenyellow;
  font-size: 25px;
  position: absolute;
    left: 575px;
    top: 250px;

}

.label-icon {
  justify-content: right;
}

#search {
  text-align: center;
}

p {
  text-align: center;
}

nav {
  text-align: center;
  background-color: #0b2737;
}

a {
  background-color: #f56217;
}

.weather-data {
  width: max-content;
}

.weather-title {
  margin-top: 90px;
}

#main-data {
  width: max-content;
  justify-content: center;
  margin-left: 384px;
}

h3 {
  color: #f56217;
}

  .card-title {
    text-align: center;
  }

  @media (max-width:1280px) and (min-width:1024px) {
  h1, h2 {
    font-size: 3rem;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  h1, h2{
    font-size: 2rem;
    flex-wrap: wrap;
    text-size-adjust: 1.5rem;
  }
}

@media (max-width:787px) and (min-width:480px) {
  h1,h2 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width:1280px) and (min-width:1024px) {
  body, nav {
    font-size: 3rem;
    flex-wrap: wrap;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  body, nav {
    font-size: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width:787px) and (min-width:480px) {
  body, nav {
    font-size: 1.5rem;
    flex-wrap: wrap;
  
  }
}
@media (max-width:1280px) and (min-width:1024px) {
  img, body {
  font-size: 3rem;
    flex-wrap: wrap;
  }
}

@media (max-width:1024px) and (min-width:787px) {
  img, body {
    font-size: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width:787px) and (min-width:480px) {
  img, body {
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}
.card-title {
  text-align: center;
}
#map {
  height: 100%;
}



table {
  font-size: 12px;
}

.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 355px;
  z-index: 1;
  margin-left: 5px;
}

#map {
  margin-top: 100px;
  width: 440px;
  display: contents;
}

#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 347pxx;
  top: 56px;
  cursor: pointer;
  overflow-x: hidden;
  z-index: 1;
}

#findhotels {
  font-size: 14px;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

